.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(61, 61, 61);
}

.article-image {
  height: 200px;
  width: 95%;
  background-color: antiquewhite;
}

.article-image img {
  height: 200px;
  width: 100%;
}

.article-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

.article-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  height: 500px;
  width: 25%;
  border: 2px solid white;
}

.article-title a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  padding: 0px 10px 0px 10px;
}

.article-title a:hover {
  text-decoration: underline;
}

.author-info {
  display: flex;
}

.author-info img {
  height: 80px;
  width: 80px;
}

.author-text {
  display: flex;
  flex-direction: column;
}

.author-text span {
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.section h3 {
  color: white;
}

.section-panels {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.read-info {
  display: flex;
  flex-direction: column;
}

.read-info span {
  color: white;
}